@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
    height: 100%;
}

/* for testing only */
/* div {
    border: red;
    border-width: 1px;
    border-style: solid;
} */

body {
    margin: 0;
    font-size: 16px;
    font-family: Roboto, sans-serif;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 10px;
    padding: 8px 16px;
    border-style: none;
    font-size: 16px;
}


.header, .footer{
    height: 72px;
    background: #1F2937;
}

.header .container {
    display: flex;
    flex-shrink: 0;
    width: 900px;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: center;
    padding: 0px 16px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    gap: 24px;
}

.hero {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
}

.hero .container {
    padding: 48px 0px;
    display: flex;
    flex-shrink: 0;
    width: 900px;
}

.hero .main{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero .secondary{
    font-size: 18px;
    color: #e5e7eb;
}

img {
    height: 200px;
    width: auto;
}

.whereto {
    margin: 32px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.locations {
    display: flex;
    justify-content: center;
    gap: 28px;
    height: 200px;
}

.choice {
    max-width: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: 1;
}

.description {
    text-align: center;
    font-style: italic;
    padding: 8px;
}

.land {
    border-radius: 10px;
    border-width: 3px;
    border-color: #3882f6;
    border-style: solid;
    width: 100px;
    height: 100px;
}


.quote {
    font-size: 24px;
    color: #1F2937;
    font-style: italic;
    font-weight: 400;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
}

.quote .container {
    padding: 48px 0px;
    display: flex;
    flex-shrink: 0;
    width: 700px;
    flex-direction: column;
}

.attrib {
    font-weight: bold;
    align-self: flex-end;
}

.call {
    color: #f9faf8;
    display: flex;
    justify-content: center;
}

.call .container {
    background-color: #3882f6;
    margin: 48px 0px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    width: 700px;
}

h2 {
    margin: 0px;
}

button.border {
    border-style: solid;
    border-color: #f9faf8;
    border-width: 2px;
    align-self: center;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
}

