@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-size: 16px;
    font-family: Roboto, sans-serif;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 10px;
    padding: 8px 16px;
    border-style: none;
    font-size: 16px;
}

button.border {
    border-style: solid;
    border-radius: 1px;
    border-color: #f9faf8;
}

.header, .footer{
    height: 72px;
    background: #1F2937;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    gap: 24px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;
}

.hero {
    background-color: #1F2937;
}

.hero.main{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero.secondary{
    font-size: 18px;
    color: #e5e7eb;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: light;
    background-color: #e5e7eb;
}

.attrib {
    font-style: bold;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
}

